<section class="banner">
    <!-- <div class="swiper-container">
        <div class="swiper-wrapper">
            <?php //foreach($banner as $item){ ?>
            <div class="swiper-slide">
                <img src="<?php //echo $item['ban_url']; ?>" alt="">
            </div>
            <?php //}?>
        </div>
        <div class="swiper-pagination"></div>
    </div> -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <?php foreach($banner as $ban){ ?>
          <div class="item active">
            <img src="<?php echo $item['ban_url']; ?>" alt="...">
          </div>
          <?php } ?>
        </div>
      
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</section>
<script src="<?php echo JS_DIR; ?>vendor.js"></script>

<script src="<?php echo JS_DIR; ?>plugins.js"></script>

<script src="<?php echo JS_DIR; ?>public.js"></script>