<!--加载 .css样式表-->
<link rel="stylesheet" href="<?php echo CSS_DIR; ?>solute.css">

<section class="solute-banner">
    
    <div class="container">
        <h1>互联网解决方案领导者</h1>
        <h5>一路致力于为客户提供优质解决方案，高端网站开发，APP开发电子商务解决方案等，打造优质经典方案。</h5>
        <img src="<?php echo ROOT.'/admin/'.$banner[0]['ban_url']; ?>" alt="">
        
    </div>
    
    
</section>

<section class="link">
    <div class="container">
        <ul>
            <li><a href="">移动端应用开发</a></li>
            <li><a href="">高品质网站</a></li>
            <li><a href="">电子商务平台</a></li>
            <li><a href="">微信应用</a></li>
            <li><a href="">IT人才服务</a></li>
            <li><a href="">企业信息化</a></li>
        </ul>
    </div>
</section>

<section class="intro">

    <!-- <div class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-img">
                        <img src="<?php echo IMG_DIR; ?>solute/intro01.png" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-details">
                        <h3>APP、互动营销小游戏</h3>
                        <h4>Android IOS HTML5</h4>
                        <p>我们为各个行业提供：<br>
                            移动端应用开发解决方案；互动营销小游戏解决方案；<br>
                            基于微信的应用解决；微信小程序解决方案</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-details">
                        <h3>网站建设公司</h3>
                        <h4>互动、营销</h4>
                        <p>文豆作为专业的广州网站建设公司，集团队智慧为您提供专业企业门户
                            解决方案，从网站设计，技术结构，多方面为您考虑，助您塑造品牌，
                            决胜未来并提供顾问、设计、建设、运营以及推广等一站式企业服务解
                            决方案。</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="intro-img">
                        <img src="<?php echo IMG_DIR; ?>solute/intro02.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="intro-single">
        <div class="container">
            <?php foreach($solution as $key=>$item){ 
                if($key % 2 ==0){    
            ?>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="intro-img">
                            <img src="<?php echo $item['serv_img']; ?>" alt="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="intro-details">
                            <h3><?php echo $item['serv_name']; ?></h3>
                            <h4><?php echo $item['serv_name1']; ?></h4>
                            <p><?php echo $item['serv_desc']; ?></p>
                        </div>
                    </div>
                </div>

            <?php }else{  ?>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="intro-details">
                                <h3><?php echo $item['serv_name']; ?></h3>
                                <h4><?php echo $item['serv_name1']; ?></h4>
                                <p><?php echo $item['serv_desc']; ?></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="intro-img">
                            <img src="<?php echo $item['serv_img']; ?>" alt="">
                        </div>
                    </div>
                </div>
            <?php }
            } ?>

        </div>
    </div>


</section>